header{
    align-items: center;
    justify-content: space-around;
    display: flex; 
   /* background-color: #4267B2; */
    width: 100%;
}
header i{
    font-size: 2rem;
}

#logo-container{
    display: flex;
    flex-direction: column;
    
    
}
#img-container{
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
header img{
    
    width: 100%;
}
header nav{      
    display: flex;    
    gap:1rem;
    right: 20%;
}
#search-container{
   display: flex;   
    gap:1rem;
}
#search-container input{
    border-radius: 1rem;
}
.icon-facebook{
    color: blue;
}
.icon-facebook:hover{
    color:white;
    cursor: pointer;
}
.icon-twitter{
    color:aqua;
}
.icon-twitter:hover{
    color: white;
    cursor: pointer;
}
.icon-instagram{
    color:blueviolet;
}
.icon-instagram:hover{
    color: white;
    cursor: pointer;
}
@media screen and (max-width:500px) {
    input{
        width: 7rem;
    }
    header{
        display:grid;
        grid-template-columns: repeat(2,1fr);

    }
    nav{
        grid-column: 1/3;
        justify-content: center;
    }
    #search-container{
        padding-left:0;
    }
}