/*Barra de filtro para búsqueda*/
nav {
    text-align: center;

}

nav ul ul {
    display: none;
}

nav ul li:hover>ul {
    display: block;
}



nav ul {
    background: #efefef;
    background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);
    background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
    background: -webkit-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
    padding-left: 0;
    border-radius: 10px;
    list-style: none;
    position: relative;
    display: inline-table;
}



nav ul li {
    float: left;
}

nav ul li:hover {
    background: #4b545f;
    background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -webkit-linear-gradient(top, #4f5964 0%, #5f6975 40%);
}

nav ul li:hover a {
    color: #fff;
}

nav ul li a {
    display: block;
    padding: 1rem 1rem;
    color: #757575;
    text-decoration: none;
}


nav ul ul {
    background: #5f6975;
    border-radius: 0px;
    padding: 0;
    position: absolute;
    top: 100%;
}

nav ul ul li {
    float: none;
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    position: relative;
}



#filter-search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-top: 0.8rem;
    gap: 1rem;
    background-color: #4267B2;
}

h5 {
    font-weight: bold;
}

.category-button {
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 0.5rem 1rem;
}

#delete-filters-button {
    position: relative;
}

#delete-filters-button i {
    position: absolute;
    top: 20%;
    right: 10%;
    z-index: 10;
}

#delete-filters-button button {
   
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: rgb(240, 83, 83);
    margin-bottom: 1rem;
    padding-right: 2rem;
}

#delete-filters-button button:hover {
    background-color: black;
    color:red;


}

#delete-filters-button:hover i {
    color: red;
}

#text-found-books {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;

}

#container-filter-amount-books {
    display: flex;
    gap: 1rem;
}

/*FILTRO POR PÁGINAS*/
.box {
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 0.5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.box .slider {
    height: 2rem;
    width: 15rem;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.box .slider input {
    height: 100%;
    width: 100%;
    outline: none;
    background-color: #f2f2f2;
    border-radius: 1.5rem;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}

.box .value {
    font-size: 1rem;
    font-weight: 600;
    font-family: sans-serif;
    color: orange;
    width: 55px;
    text-align: center;
}

#text-paginas {
    color: #757575;
}

#text-paginas:hover {
    color: white;
}

/*Seccion de libros y carrito*/
section {
    height: 40rem;

    padding: 0 !important;
    margin: 0 !important;

}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

#books-container {
    overflow: auto;
}

#sections-container {
    width: 100%;
}

.books-main-container {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}

.books-main-container>div {
    height: 24rem;

}

@media screen and (max-width:1000px) {
    .books-main-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width:600px) {
    .books-main-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .box .slider {
        width: 4rem;
    }

    #filter-search-container {
        display: flex;
        flex-direction: column;
    }
}