#mybooks-section {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#mybooks-container {
    width: 90%;

    border: solid 4px rgb(0, 69, 148);
    border-radius: 1rem;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: white;
}

#title-mybokks {
    background-color: #4267B2;
    font-weight: bold;
    padding: 2rem 0;
    margin: 0;
    border-radius: 0.5rem 0.5rem 0 0 ;
    border-bottom: solid 4px rgb(0, 69, 148);
}

#mybooks {
    height: 26rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   

}
#delete-book {
    text-align: center;
}

.img-data-container-mybooks {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.img-container-mybooks {

    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container-mybooks img {
    width: 100%;
    object-fit: contain;
}

#title-mybooks {
    margin: 0;
    padding-top: 1rem;
}
#container-counterBooks{
    height: 4rem;
    color:white;
    text-align: center;
    border-top: solid 4px rgb(0, 69, 148);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4267B2;
    border-radius: 0 0 0.5rem 0.5rem;
}